/* GLOBALS */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: #757575;
}
main {
    padding: 15px 25px;
}

/* ASIDE -------------- */
aside {
    /*width: calc(29% - 15px);*/
    /*min-height: calc(100vh - 150px);*/
    width: 28%;
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
    box-shadow: 0 0 10px 5px lightgray;
}
    .avatar-wrapper {
        height: 250px;
        background-image: url('./marat.png');
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 180px;
        padding-left: 10px;
    }
        .avatar-wrapper h1 {
            color: black;
            letter-spacing: 1.2px;
            font-weight: 100;
        }
    .contact-info {
        padding: 5px 10px;
    }
        .fa {
            color: #009688;
            font-size: 25px;
            margin-right: 15px;
        }
    .skills, .languages {
        margin-bottom: 20px;
        padding: 5px 10px;
    }
        .full-progress-bar {
            width: 95%;
            background: #dfdfdf;
            border-radius: 16px;
            text-align: center;
            color: #fff;
            font-size: 12px;
            line-height: 1.4;
        }
        .skill {
            height: 16px;
        }    
        .lang {
            height: 20px;
        }
            .inner-bar {
                height: 100%;;
                background: #009688;
                border-radius: 16px;
            }
            .nine {
                width: 90%
            }
            .eight {
                width: 80%;
            }
            .seven {
                width: 75%;
            }
            .five {   
                width: 50%;
            }
            .two {
                width: 20%;
            }

/* SECTIONS -------------- */
.section-wrapper {
    width: 70%;
    display: inline-block;
    /*min-height: calc(100vh - 150px);*/
    /*vertical-align: top;*/
}   
    section {
        box-shadow: 0 0 10px 5px lightgray;
        padding: 10px 20px;
        margin-bottom: 20px;
    }
        h1 {
            margin-bottom: 40px;
            margin-top: 0;
            padding-top: 20px;
            font-size: 30px;
        }
    
            .fa.fa-suitcase, .fa.fa-certificate {
                font-size: 35px;
            }
        .inner-section {
            border-bottom: 1px solid lightgray;
            margin: auto 10px;
            padding-bottom: 1.8px;
        }
            .inner-section p {
                color: #009688;
            }
            .inner-section .description {
                color: #000;
            }
            .inner-section.last {
                border-bottom: none;
            }


/* FOOTER -------------- */

footer {
    /*height: 150px;*/
    background: #009688;
    padding: 10px;
    text-align: center;
    color: #fff;
}
    .fa.fa-facebook, 
    .fa.fa-instagram, 
    .fa.fa-pinterest, 
    .fa.fa-twitter,
    .fa.fa-snapchat, 
    .fa.fa-linkedin {
        color: #fff;
    }
    footer a {
        color: inherit;
    }