<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Seytech</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
.row {
    margin: 0 !important;
}
    .jumbotron {
        height: 60px;
        padding: 15px;
    }
    .box {
        padding: 10px;
        margin: 10px 0;
        border: solid 1px #f3ebff;
    }
    .text {
        display: inline-block;
    }
    .float-right::after {
        clear: both;
    }
    .badge {
        margin: 0 5px;
    }
    body{
        padding: 10px
    }
</style>
</head>
<body>
    <main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h4 class="display-5">Code Test Instructions</h4>
        </div>
      </div>

<h3>Overview</h3>
<p>The purpose of this test is to see how well you can code a responsive component using HTML, CSS, and JavaScript. Matching the design is equally important as writing clean, semantic code.</p>

<h3>Rules</h3>
<ul>
    <li>It's very important to match the design. This component came out of a project and is indicative of the type of work you'll encounter.</li>
    <li>JavaScript must be hand coded using Vanilla ES5/ES6+.</li>
    <li>Please do not use any JavaScript plugins, frameworks, or libraries (React, jQuery, Lodash, etc.).</li>
    <li>Must work bug-free on iOS, Android, Chrome, Safari, Firefox, Edge, and IE11+.</li>
    <li>If you choose to use some sort of CLI compilation, include a compiled folder so that the HTML file can be dragged directly into the browser.</li>
    <li>Upload a zip file to Dropbox, Google Drive, or any other semi private storage service. Please do not post this on a public repository such as Github.</li>
</ul>


<h3>Bonus</h3>
<ul>
    <li>Write OOP JavaScript.</li>
    <li>Add CSS transitions to accordion and tab events.</li>
    <li>Create accordion + and - icons with pure CSS.</li>
    <li>Use SASS or LESS or any other preprocessor.</li>
</ul>

<h3>Design Notes</h3>
<ul>
    <li>Font used is Open Sans Bold and Regular.</li>
    <li>Tablet/Desktop PSD should account for any view larger than 767px.</li>
    <li></li>
</ul>

        <div style="text-align: center;">
            <img src="./phone.jpg" width="30%">
        <img src="./tablet-and-desktop-care.jpg" width="80%">
        <img src="./tablet-and-desktop-fit-guide.jpg" width="80%">
        <img src="./tablet-and-desktop-materials.jpg" width="80%">
        </div>
    </main>
</body>
</html>
