* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 10px;
}

section {
    margin-bottom: 50px;
}

#homework-header {
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}
.img {
    width: 70%;
    height: auto;
    box-shadow: 0 0 3px 1px #7a7a7a;
    margin: 0 auto;
    margin-bottom: 20px;
}

.img img {
    width: 100%;
    height: auto;
}
.img-noborder {
    width: 70%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
}
.img-noborder img {
    width: 100%;
    height: auto;
}

.title {
    color: rgb(119, 4, 103);
    margin-bottom: 0;
}

#hw-definition,
.steps {
    color: #616060;
}

.navigation {
    background: #f2fadc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.markdown {
    background-color: #2d2d2d;
    color: #ccc;
    padding: 10px;
    letter-spacing: 2px;
    border-radius: 5px;
}
code {
    background-color: #2d2d2d;
    color: #ccc;
    padding: 5px;
    border-radius: 5px;
}