.section-title {
    background-color: #0d99a5;
    color: white;
    padding: 10px;
}

.courses-icon {
    height: 40px;
}
.courses-icon.not-ready{
    filter: grayscale(1);
}
.not-ready-content {
    margin: 10px;
}

.courses-card-content {
    padding: 5px 0;
    min-width: 60px;
}

#fuse-toolbar {
    left: 0px;
    width: calc(100vw);
}
/* @media screen and (min-width: 1280px) {
    .navbar-icon{
        margin-left: 60px;
    }
  } */
#fuse-toolbar.sub-course {
    float: right;
    width: 300px;
}
#fuse-toolbar-course {
    background: none !important;
    width: 250px;
    padding-top: 5px;
    box-shadow: none;
 }
#fuse-toolbar-course span, #fuse-toolbar-course p {
    color: white !important
}

/*
#fuse-toolbar {
    background: #2D323E;
}
*/
/* Hide unnecessary header on pages */
.slide-frame {
    height: calc(100vh - 72px);
    width: calc(100% + 50px);
    margin-left: -25px;
}

a:not([role=button]) {
    color: #2196F3;
}
/* middle part of the page */
#simple-content .container {
    padding-top: 64px;
}
/* mid part for courses */
#course-page #simple-content .container{
    padding-top: 0px;
}
#fuse-navbar {
    z-index: 10;
}

/* when folded app-bar(navbar 3 line)  moves left*/
.folded .app-bar {
    margin-left: -20px;
}
.right-off-canvas-menu {
    position: absolute;
    right: 10px;
    top: 0px;
}