.pre {
    background: #f9f9fa;
    border: 1px solid rgba(51,51,51,.1);
    padding: 10px;
    width: 100%;
}

.row {
    margin: 0 !important;
}
.jumbotron {
    height: 60px;
    padding: 15px;
}
.box {
    padding: 10px;
    margin: 10px 0;
    border: solid 1px #f3ebff;
}

.float-right::after {
    clear: both;
}
.badge {
    margin: 0 5px;
}

.question {
    margin: 3px 0;
}
.question:before {
    content: '*  ';
}

.row {
    margin: 0 !important;
}
    .jumbotron {
        height: 60px;
        padding: 15px;
    }
    .box {
        padding: 10px;
        margin: 10px 0;
        border: solid 1px #f3ebff;
    }
   
    .float-right::after {
        clear: both;
    }
    .badge {
        margin: 0 5px;
    }
    .leetcode-link {
        margin-left: 20px;
    }
   
    
    .video-algo, .code-algo {
        width: 50%;
        height: 400px;
    }
    .video-algo, .code-algo {
        width: 50%;
        height: 400px;
        float:left;
    }
    .answer:after {
        content: "";
        display: table;
        clear: both;
    }
    .answer{
        padding: 20px 0;
        background-color: black;
        display: none;
    }
  