.container {
  border: 1px solid;
}
/* row */
.row {
  display: flex;
  flex-wrap: nowrap;
  background-color: #b2b275;
  border-bottom: 1px solid;
}

.item,
.item.center {
  height: 100px;
  flex-basis: 200px;
  background-color: #197f7f;
  margin: 20px;
}
.item.center {
  flex-grow: 4;
  flex-shrink: 1;
}
.item {
  flex-grow: 1;
  flex-shrink: 2;
}

/* row2 */
.row2 {
  display: flex;
  flex-wrap: nowrap;
  background-color: #197f7f;
  min-height: 200px;
  justify-content: space-between;
  flex-direction: column;
}
.item2 {
  height: 50px;
  min-width: 200px;
  background-color: #b2b275;
  margin: 20px;
}

.down {
  align-self: flex-end;
}
.up {
  align-self: flex-start;
}
